
#email,#password, #cpassword{
    border-radius: 10px;
}
#forgot{
    float: right;
}
#signin{
    background-color: #7c37fa;
}
#formdiv{
  
    margin: 50px 0px;
}
#email{
    margin-bottom: 30px;
    background-color: #80808014;
    font-weight: bold;
}
#password, #cpassword{
    background-color: #80808014;
    font-weight: bold;
}
.btn{
    width: 100%;
    border-radius: 10px;
}
#google{
float: right;
width: 45%;
background-color: red;
color: white;
border-radius: 10px;
height: 40px;
font-weight: bold;
border: 1px solid red;
}
#facebook{
    width: 45%;
    background-color: #3c589a;
    color: white;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    border: 1px solid #3c589a;
}
#socialicon{
    margin-top: 40px;
}
#signupbtn{
    margin-top: 20px;
    text-align: center;
}
#signupword{
    color: #3c589a;
    font-weight: bold;
}
input[type=text] {
    border: 3px solid #ccc;
  }
  